/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*----------- THIS IS THE BASE SASS FILE -----------*/
/*--------- IT CONTAINS THE GENERAL STYLES ---------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

/////////////////////////////////
// VARIABLES

$oolor-background: #ffe5bd;
$color-dark: #333333;
$color-light: #eeeeee;
$color-school: #909090;
$color-joomla: #00bac0;

$font-size-default: 1.6rem;

$height-overheader: 6rem;

$transition-transform: transform 0.3s ease-in-out;

$transform-scale: scale(1.15);

/////////////////////////////////
// MIXINS

@mixin responsive($resolution) {
  @if $resolution == phone {
    @media (max-width: 550px) {
      @content;
    }
  } @else if $resolution == phone-big {
    @media (max-width: 675px) {
      @content;
    }
  } @else if $resolution == tablet-portrait {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $resolution == tablet-landscape {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $resolution == desktop-standard {
    @media (max-width: 1800px) {
      @content;
    }
  } @else if $resolution == desktop-big {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

/////////////////////////////////
// GLOBAL RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/////////////////////////////////
// GENERAL STYLES

html {
  font-size: 62.5%; // 1rem = 10px - 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: "Product Sans", sans-serif;
  font-size: $font-size-default;
  color: $color-dark;
  background-color: $oolor-background;
  line-height: 1.4;
}

::selection {
  background-color: $color-dark;
  color: $color-light;
}
