/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*----------- THIS IS THE BASE SASS FILE -----------*/
/*--------- IT CONTAINS THE GENERAL STYLES ---------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

/////////////////////////////////
// VARIABLES

$oolor-background: #495f9b;
$color-dark: #151515;
$color-light: #f1f1f1;
$color-school: #dadada;
$color-joomla: #dadada;

$font-size-default: 1.6rem;
$font-family: 'Product Sans', sans-serif;

$height-overheader: 6rem;

$transition-transform: transform 0.3s ease-in-out;

$transform-scale: scale(1.15);

/////////////////////////////////
// MIXINS

@mixin responsive($resolution) {
	@if $resolution ==phone {
		@media (max-width: 550px) {
			@content;
		}
	}

	@else if $resolution ==phone-big {
		@media (max-width: 675px) {
			@content;
		}
	}

	@else if $resolution ==tablet-portrait {
		@media (max-width: 900px) {
			@content;
		}
	}

	@else if $resolution ==tablet-landscape {
		@media (max-width: 1200px) {
			@content;
		}
	}

	@else if $resolution ==desktop-standard {
		@media (max-width: 1800px) {
			@content;
		}
	}

	@else if $resolution ==desktop-big {
		@media (min-width: 1800px) {
			@content;
		}
	}
}

@mixin fadeIn($delay) {
	opacity: 0;
	animation: 0.3s ease-out $delay fadeIn;
	animation-fill-mode: forwards;
}

/////////////////////////////////
// GLOBAL RESET

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/////////////////////////////////
// GENERAL STYLES

html {
	font-size: 62.5%; // 1rem = 10px - 10px/16px = 62.5%
}

body {
	box-sizing: border-box;
	font-family: $font-family;
	font-size: $font-size-default;
	color: $color-dark;
	background-color: $oolor-background;
	line-height: 1.4;
}

a {
	color: $color-light;
	text-decoration: none;
}

::selection {
	background-color: $color-dark;
	color: $color-light;
}