/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*----------- THIS IS THE FONT SASS FILE -----------*/
/*----------- IT INCLUDES THE FONTS USED -----------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

/////////////////////////////////
// FONTS

// Product Sans Regular
@font-face {
  font-family: "Product Sans";
  src: url("/fonts/Product Sans Regular.ttf");
  font-style: normal;
}

// Product Sans Ztalic
@font-face {
  font-family: "Product Sans";
  src: url("/fonts/Product Sans Italic.ttf");
  font-style: italic;
}

// Product Sans Bold
@font-face {
  font-family: "Product Sans";
  src: url("/fonts/Product Sans Bold.ttf");
}
